
@media screen and (max-width: 640px) {
  .b9 {
    padding: 30px 0;
  }
  .b9-cnt-items {
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .b9-item {
    width: 100%;
    padding: 0 0 30px 0;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.f-1 {
  height: 230px;
  background: #e2231a;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.f-center {
  display: table;
  width: 100%;
  padding-bottom: 30px;
  zoom: 1;
}
.f-center:after,
.f-center:before {
  content: "";
  display: table;
}
.f-center:after {
  clear: both;
}
.f-center.wancho {
  max-width: 985px;
  width: 100%;
}
.f-logo {
  display: table-cell;
  vertical-align: top;
  position: relative;
  top: 10px;
}
.f-item {
  /*background-color: blue;*/
  width: 240px;
  display: table-cell;
  vertical-align: top;
  color: #fff;
  padding-left: 45px;
  text-align: left;
}
.f-item h3 {
  color: #fff;
  font-family: 'ralewaybold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.f-item ul {
 /* background-color: yellow;*/
  font-size: 0;
  width: 300px;
}
.f-item li {

  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 50%;
  position: relative;
  margin-bottom: 15px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.f-item li:before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background: #ffb819;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.f-item li:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .f-item li a {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .f-item li a:hover {
    text-decoration: underline;
  }
}
.f-info {
  font-size: 14px;
}
.f-info a {
  display: block;
  margin-bottom: 15px;
}
.f-info p {
  margin: 0;
}
.f-info p:before {
  content: '\e917';
  color: #ffb819;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-family: 'icomoon';
}
.f-redes {
  margin-bottom: 15px;
}
.f-redes a {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-FACEBOOK:hover {
  background: #fff;
  color: blue;
}
.icon-LINKEDIN:hover {
  background: #fff;
  color:skyblue ;
}
.icon-YOU-TUBE:hover {
  background: #fff;
  color: #e2231a;
}
.f-number-inner {
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.f-number-inner span {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffb819;
}
.f-trabajo a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 10px;
  height: 30px;
  width: 120px;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #fff;
  position: relative;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.f-trabajo a:before {
  content: '\e917';
  font-family: 'icomoon';
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 10px;
}
@media screen and (min-width: 1024px) {
  .f-trabajo a:hover {
    background: #fff;
    color: #e2231a;
  }
}
.footer-copy {
 position: relative;
  overflow: hidden;
  font-size: 13px;
    bottom: 5px;
}
.footer-copy .wancho {
 
  overflow: hidden;

}
.foo-credit {
  padding-top: 12px;
  border-top: 1px solid #fff;
}
.footer-copy-left {
  float: left;
  color: #fff;
}
.footer-copy-left p {
  margin: 0;
}
.footer-copy-right {
  float: right;
  color: #fff;
}
.staffcreativa {
  position: relative;
  padding-right: 0.45em;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'arial';
}
.staffcreativa:after {
  content: '\e60e';
  font-family: 'icomoon';
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 0;
  speak: none;
  text-transform: none;
  top: 0.1em;
}
.link-staff:hover .staffcreativa {
  color: #000;
}
@media screen and (max-width: 1024px) {
  .f-center.wancho {
    width: 95%;
    text-align: center;
  }
  .f-item {
    margin-left: 60px;
  }
  .f-logo {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .f-link {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .f-logo {
    display: none;
  }
  .f-item {
    margin: auto;
  }
  .f-last {
    text-align: center;
  }
  .f-1 {
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 620px) {
  .footer-copy {
    height: auto;
    text-align: center;
    font-size: 12px;
    margin: auto;
  }
  .footer-copy-left {
    float: none;
    margin-bottom: 5px;
  }
  .footer-copy-right {
    float: none;
  }
  .f-widht {
    display: block;
    width: 100%;
  }
  .f-last {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
  .f-last h3 {
    display: none;
  }
  .f-item {
    padding-left: 0;
    text-align: center;
  }
  .f-center {
    display: block;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  height: 84px;
}
.header .header-position {
  width: 100%;
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 140;
}
.header .header-block1 {
  width: 100%;
  height: 103px;
  background-image: url("../img/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.header .header-cnt1 {
  max-width: 960px;
  width: 100%;
  font-size: 0;
  text-align: right;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  margin: auto;
}
.header .header-logo {
  display: block;
  width: 144px;
  position: absolute;
  left: 42px;
  bottom: -50px;
  z-index: 20;
}
.header .header-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header .menu-1,
.header .menu-1 li,
.header .search-cnt {
  display: inline-block;
  vertical-align: top;
}
.header .menu-1 li {
  position: relative;
  padding: 0 30px;
}
.header .menu-1 li:before {
  content: "";
  width: 1px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.header .menu1-icono {
  color: #fff;
  font-size: 13px;
  margin-right: 5px;
}
.header .search-cnt {
  margin-left: 30px;
}
.header .menu1-link,
.header .menu-search {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  color: #fff;
  font-family: 'arial', sans-serif;
  font-size: 13px;
}
@media screen and (min-width: 1025px) {
  .header .menu1-link {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .header .menu1-link:hover span:last-child {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1025px) {
  .header .menu-search {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .header .menu-search:hover span:last-child {
    text-decoration: underline;
  }
}
.header .search-form {
  width: 70%;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .search-form ::-webkit-input-placeholder {
  color: #e2231a;
  font-family: 'ralewayregular', sans-serif;
}
.header .search-form :-moz-placeholder {
  color: #e2231a;
  font-family: 'ralewayregular', sans-serif;
}
.header .search-form ::-moz-placeholder {
  color: #e2231a;
  font-family: 'ralewayregular', sans-serif;
}
.header .search-form :-ms-input-placeholder {
  color: #e2231a;
  font-family: 'ralewayregular', sans-serif;
}
.header .search-form input {
  background: #fff;
  width: 100%;
  height: 30px;
  color: #e2231a;
  font-family: 'ralewayregular', sans-serif;
  font-size: 15px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  padding-right: 40px;
}
.header .search-form button {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background: none;
  color: #e2231a;
  font-size: 15px;
  text-align: center;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
.header .search-form.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.header .header-block2 {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
  padding-top: 40px;
}
.header .header-cnt2 {
  max-width: 960px;
  width: 100%;
  font-size: 0;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  margin: auto;
}
.header .menu-2,
.header .menu-2 li {
  display: inline-block;
  vertical-align: top;
}
.header .menu-2 {
  position: relative;
  z-index: 2;
}
.header .menu-2 li {
  margin-left: 60px;
}
.header .menu-2 li:first-child {
  margin-left: 0;
}
.header .menu2-link {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  color: #666;
  font-family: 'ralewayregular', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .menu2-link.active {
  color: #e2231a;
}
@media screen and (min-width: 1025px) {
  .header .menu2-link:hover {
    color: #e2231a;
  }
}
.menu-productos {
  display: none;
}
.menu-resp-open {
  display: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
  position: fixed;
  border-radius: 50%;
  top: 20px;
  right: 15px;
  z-index: 141;
  cursor: pointer;
}
.menu-resp-close {
  display: none;
  color: #666;
  font-size: 26px;
  cursor: pointer;
  margin-bottom: 10px;
}
.menu-resp-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu-resp-overlay.active {
  z-index: 1000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  visibility: visible;
}
.menu-responsive {
  display: none;
  width: 212px;
  margin: auto;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu-responsive.active {
  right: 0;
  z-index: 1001;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.menu-resp-block1,
.menu-resp-block2 {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu-resp-bg {
  display: block;
  width: 100%;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 25px;
}
.menu-resp-block1 .menu-resp-link:after {
  content: "\e910";
  display: inline-block;
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  top: 11px;
  right: 0;
}
.menu-resp-block1.active {
  right: -100%;
}
.menu-resp-block2 {
  right: -100%;
}
.menu-resp-block2 .menu-productos {
  display: block;
}
.menu-resp-block2 .clone-menu-redes {
  margin-top: 35px;
}
.menu-resp-block2.active {
  right: 0;
}
.clone-menu ul {
  font-size: 0;
}
.clone-menu li {
  border-bottom: 1px solid #c3c3c3;
}
.clone-menu .menu-list:last-child li:last-child a:before {
  display: none;
}
.clone-menu .menu-list:last-child li:last-child a {
  padding-left: 0;
}
.clone-menu .menu-list:last-child li:last-child .menu1-icono {
  color: #ffb819;
  margin-right: 8px;
}
.clone-menu a {
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  height: 38px;
  color: #666;
  font-family: 'ralewayregular', sans-serif;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.clone-menu a:before {
  content: "";
  width: 4px;
  height: 4px;
  background: #ffb819;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.clone-menu a.active {
  color: #e2231a;
}
.clone-menu a.active:before {
  background: #e2231a;
}
.clone-menu .menu-list:last-child li:last-child a.active span {
  color: #e2231a;
}
.clone-phone {
  display: inline-block;
  vertical-align: bottom;
  color: #0071ce;
  font-family: 'arial', sans-serif;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.clone-phone:before {
  content: "\e91e";
  font-family: 'icomoon';
  font-size: 20px;
  margin-right: 7px;
}
.clone-menu-redes {
  font-size: 0;
  text-align: center;
}
.clone-menu-redes a {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #e2231a;
  font-size: 17px;
  text-align: center;
  border: 1px solid #e2231a;
  border-radius: 50%;
  margin: 0 5px;
}
.btn-resp-prev {
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  height: 38px;
  font-family: 'ralewayregular', sans-serif;
  font-size: 15px;
  position: relative;
  border-bottom: 1px solid #c3c3c3;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
.btn-resp-prev:before {
  content: "\e90f";
  display: inline-block;
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  top: 11px;
  left: 0;
}
@media screen and (max-width: 960px) {
  .menu-responsive {
    display: block;
  }
  .menu-resp-open {
    display: block;
  }
  .menu-resp-close {
    display: inline-block;
  }
  .header {
    height: 70px;
  }
  .header .header-position {
    height: 70px;
    position: fixed;
  }
  .header .header-block1 {
    height: 70px;
    background: #e2231a;
    position: static;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 70px;
  }
  .header .header-cnt1 {
    padding-right: 5px;
    height: 100%;
  }
  .header .header-logo {
    width: 72px;
    top: 50%;
    left: 10px;
    bottom: auto;
    margin-top: -17.5px;
  }
  .header .menu-1 {
    display: none;
  }
  .header .menu1-icono {
    display: block;
    line-height: 70px;
    font-size: 20px;
    margin-right: 0;
  }
  .header .menu-search {
    display: inline-block;
    height: auto;
  }
  .header .menu-search span:last-child {
    display: none;
  }
  .header .search-form input {
    font-size: 16px;
  }
  .header .search-form button {
    font-size: 20px;
  }
  .header .header-block2 {
    display: none;
  }
  .header .search-cnt {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
  }
}
